body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.top,
.footer {
    background-color: #1F2937;
}

.top-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext, 
.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

