body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

/*Fonts and Styling*/
.top,
.footer {
    background-color: #1F2937;
}

.top {
    padding: 20px 100px 50px;
}

.top-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext, 
.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.image {
    height: 150px;
    width: 300px;
    background-color: #E5E7EB;
    flex-shrink: 0;
}

#top,
#bottom,
.cta {
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
}

#top,
#bottom {
    height: 25px;
    width: 75px;
}

#top {
    border: none;
}

#bottom {
    border: 2px solid #E5E7EB;
}

h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.third {
    background-color: #E5E7EB;
    padding: 100px 150px;
}

.border {
    border-radius: 10px;
    outline: 2px solid #3882F6;
    height: 75px;
    width: 75px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;

}

.bottom {
    padding: 50px 100px; 
}

.cta {
    padding: 25px 50px;
}

.footer {
    color: #E5E7EB;
}

/* Layout */

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 16px;
}

.top-main {
    display: flex;
    justify-content: space-between;
} 